body {
	background-color: #24221c;
	color: #f4eed7;
	font-family: ubuntu;
	font-size: 19.5px;
	line-height: 43px;
	margin: 10px;
	min-width: 420px;
	display: flex;
	flex-wrap: wrap;
}
body > div {
	width: 400px;
	margin: 10px;
}
svg {
	-moz-user-select: none;
	cursor: default;
	display: inline-block;
	vertical-align: middle;
}
#animated > g {
	transform-origin: 206px 15px;
}
#animated.playing > g {
	animation-name: jump;
	animation-duration: 250ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 6;
	animation-direction: alternate;	
}
.tablabel {
	font-size: 13px;
}
.badgevalue {
	font-size: 13px;
	text-anchor: middle;
}

@keyframes jump {
	0% {
		opacity: 1;
		transform: none;
	}
	100% {
		opacity: 0.5;
		transform: scale(1.5, 1.5);
	}
}

#animationtimer {
	stroke-dasharray: 200.66px;
	stroke-dashoffset: 200.66px;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-fill-mode: both;
}

@keyframes timer1 {
	0% {
		stroke-dashoffset: 200.66px;
	}
	100% {
		stroke-dashoffset: 0px;
	}
}
@keyframes timer2 {
	0% {
		stroke-dashoffset: 0px;
	}
	100% {
		stroke-dashoffset: -200.66px;
	}
}

use, li[onclick], div[data-mode] {
	cursor: pointer;
}

input[type="color"] {
	background-color: transparent;
	border: medium none;
	padding: 2px 0px;
	width: 70px;
	height: 37px;
	vertical-align: middle;
}
.background {
	fill: #cc0000;
}
.foreground {
	fill: #ffffff;
}

ul {
	margin: 0 0 0 45px;
	list-style: none;
	padding-left: 0;
	font-size: 16px;
	line-height: 30px;
	overflow: hidden;
}
#mode ul {
	height: 0px;
}
:root[data-complete] ul {
	transition: height 500ms;
}
