body {
	background-color: #24221c;
	color: #f4eed7;
	font-family: ubuntu;
	font-size: 19.5px;
	line-height: 43px;
	margin: 20px;
}
svg {
	-moz-user-select: none;
	cursor: default;
	display: inline-block;
	vertical-align: middle;
}
#animated > g {
	transform-origin: 206px 15px;
}
#animated.playing > g {
	animation-name: jump;
	animation-duration: 250ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 6;
	animation-direction: alternate;	
}

@keyframes jump {
	0% {
		opacity: 1;
		transform: none;
	}
	100% {
		opacity: 0.5;
		transform: scale(1.5, 1.5);
	}
}

use {
	cursor: pointer;
}

input[type="color"] {
	background-color: transparent;
	border: medium none;
	padding: 2px 0px;
	width: 70px;
	height: 37px;
	vertical-align: middle;
}
.background {
	fill: #cc0000;
}
.foreground {
	fill: #ffffff;
}

ul {
	margin: 0 0 0 60px;
	list-style: none;
	padding-left: 0;
	font-size: 16px;
	line-height: 30px;
	overflow: hidden;
	height: 0px;
}
:root[data-complete] ul {
	transition: height 500ms;
}
