.tab-badge {
  text-align: center;
  padding: 0 4px;
  animation-name: jump;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 6;
  animation-direction: alternate;
}

tab:not([pinned]) .tab-badge {
  -moz-margin-end: 3px !important;
}

.tabbrowser-tabs[closebuttons="activetab"] tab:not([pinned])[selected="true"] .tab-badge,
.tabbrowser-tabs[closebuttons="alltabs"] tab:not([pinned]) .tab-badge {
  -moz-margin-end: 0 !important;
}

tab[pinned="true"] .tab-badge {
  -moz-margin-start: 3px !important;
}

@keyframes jump {
  0% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 0.5;
    transform: scale(1.5, 1.5);
  }
}
